<ion-header>

  <ion-navbar>
    <ion-title>Create New Project</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          Cancel
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          Done
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form" >

    <ion-list>
      <ion-item>
          <ion-label color="primary" floating>Project Name</ion-label>

        <ion-input type="text"  formControlName="project_name"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" floating>Short Description</ion-label>
        <ion-input type="text" formControlName="short_description"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" floating>Project Requirment</ion-label>
        <ion-textarea  formControlName="description" rows="10" ></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>