<ion-header>

  <ion-navbar>
    <ion-title>Sign in</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (ngSubmit)="doLogin()" [formGroup]="loginForm" >
    <ion-list>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" formControlName="username" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button type="submit" [disabled]="!loginForm.valid" block>Sign In</button>
      </div>

    </ion-list>
  </form>

</ion-content>
