<ion-header>

  <ion-navbar>
    <ion-title>{{ item.project_name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 <!-- <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'">
  </div> -->

  <div class="item-detail" padding>
    <h2>{{item.short_description}}</h2>
    <p>{{item.description}}</p>
    <button ion-button color="primary" (click)="draw(item.id)" >Show Class Diagram</button>
  </div>
 
</ion-content>