<!--
  Generated template for the DrawPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>draw</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="paper"style="height:100%;width:100%;"></div>
  
  <div [hidden]="project || errMsg">
    
    <ion-spinner></ion-spinner>
    <h4>Loading ... Please Wait</h4>
  </div>
  <div *ngIf="errMsg">
    <h2>Error</h2>
    <h4>{{errMsg}}</h4>
  </div>

</ion-content>
 