<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      Create your class diagrams faster
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="signup()">sign up</button>
    <button ion-button block (click)="login()" class="login">sign in</button>
  </div>
</ion-content>
