<ion-header>

  <ion-navbar>
    <ion-title>All Projects</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <h2>{{item.project_name}}</h2>
        <p>{{item.short_description}}</p>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          DELETE
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div [hidden]="currentItems || errMsg">
    <ion-spinner></ion-spinner>
    <h4>Loading ... Please Wait</h4>
  </div>
  <div *ngIf="errMsg">
    <h2>Error</h2>
    <h4>{{errMsg}}</h4>
  </div>
  
</ion-content>