<ion-header>

  <ion-navbar>
    <ion-title>Sign up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="doSignup()">
    <ion-list>

      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type="text" formControlName="first_name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text"  formControlName="last_name"  required></ion-input>
      </ion-item>


      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" formControlName="username"  required></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" formControlName="password"  required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" formControlName="email"  required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Phone</ion-label>
              <ion-input type="tel" formControlName="phone"  required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Job Title</ion-label>
                <ion-input type="tel" formControlName="job_title"  required> </ion-input>
              </ion-item>

      <div padding>
        <button ion-button type="submit"  [disabled]="!registerForm.valid" block>Sign Up</button>
      </div>

    </ion-list>
  </form>
  <div *ngIf="errMsg">
    <h2>Error</h2>
    <h4>{{errMsg}}</h4>
  </div>
</ion-content>