<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card >


    <ion-card-content *ngIf="item">
      
      <p> <strong>First Name</strong>: {{item.first_name}}</p>
      <p><strong>Last Name</strong> : {{item.last_name}}</p>
      <p><strong>Job Title </strong>: {{item.job_title}}</p>
      <p><strong>Phone</strong>     :{{item.phone}}</p>
      <p><strong>Username</strong>  : {{item.username}}</p>

    </ion-card-content>

     
  </ion-card>
</ion-content>